@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  transition: background-color 0.3s ease, color 0.3s ease,border-color 0.3s ease;
}

.text-gradient {
  background: linear-gradient(90deg, #FFD65A 30%, #FFB84C);
  background-clip: text;
  color: transparent;
}
